/*
 * Стили компонента ImageGallery
 */
.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-gap: 16px;
  margin-top: 15;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .ImageGallery {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.ErrorQuery {
  text-align: center;
  font-size: 20px;
  color: red;
}

.Loader {
  display: block;
  text-align: center;
  margin-top: 15px;
}
